@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
body {
    font-family: Roboto, Condensed;
}
.logo-cabecera {
    float: left;
    width: 5%;
    margin-right: 250px;
    margin-left: 300px;
    z-index: 1;
}
.menu-negro-arriba {
    font-family: Roboto, Condensed;
    font-size: 20px;
    font-weight: 400;
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 0.2%;
    height: 30px;
    letter-spacing: 2pt;
    word-spacing: 10pt;
    margin-bottom: -20px;
}
.cabecera {
    background-image: url(ddc/backcabeceravistasuperiormarpuerto.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    padding: 50%;
    width: 100%;
    z-index: -12;
    position: fixed;
}
.cabecera-menu-superior {
    align-content: flex-end;
    vertical-align: text-top;
    z-index: 1;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
}
.h1 {
    font-size: x-large;
    color: white;
    align-content: flex-start;
    margin-left: 300px;
    z-index: 1;
}
.cabecera-menu-inferior {
    font-size: medium;
    color: white;
    align-content: flex-start;
    margin-left: 300px;
    z-index: 1;
    font-weight: 300;
    list-style: none;
}
.cifras-destacadas-horizonte